.attacks-spells {
  &__attacks{
    & p:first-child{
      text-align: left;
    }
    & p:last-child{
      text-align: right;
    }
    & p{
      text-align: center;
    }
    & input{
      margin: 6px auto;
    }
  }
  &__undertext{
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
