<div class="attacks-spells">
  <div class="attacks-spells__weapons">
    <p class="attacks-spells__weapons-name">Название</p>
    <p class="attacks-spells__weapons-bonus">Бонус атаки</p>
    <p class="attacks-spells__weapons-attack">урон и тип</p>
    <p class="attacks-spells__weapons-name">Тяж. арб.</p>
    <p class="attacks-spells__weapons-bonus">+9</p>
    <p class="attacks-spells__weapons-attack">1d10+5</p>
    <p class="attacks-spells__weapons-name">Кинжал</p>
    <p class="attacks-spells__weapons-bonus">+9</p>
    <p class="attacks-spells__weapons-attack">1d4+5</p>
    <p class="attacks-spells__weapons-name">Лук +2</p>
    <p class="attacks-spells__weapons-bonus">+11</p>
    <p class="attacks-spells__weapons-attack">1d6+7</p>
  </div>
  <textarea rows="15" maxlength="750"></textarea>
  <p class="attacks-spells__undertext">Атаки и заклинания</p>
</div>
