<div class="character-description">
  <textarea
    rows="4"
    pInputTextarea
    >
</textarea>
  <p class="character-description__naming">Свойства личности</p>
  <textarea
    rows="3"
    pInputTextarea
    ></textarea>
  <p class="character-description__naming">Идеалы</p>
  <textarea
    rows="3"
    pInputTextarea
    ></textarea>
  <p class="character-description__naming">Узы</p>
  <textarea
    rows="3"
    pInputTextarea
    ></textarea>
  <p class="character-description__naming">Изъяны</p>
</div>

