.inventory{
  width: 100%;
  display: flex;

  &__money{
    flex-basis: 20%;
    & div{
      display: flex;
      justify-content: space-between;
      margin-right: 5px;
    }
  }
  &__items{
    flex-basis: 80%;
    & p{
      text-align: center;
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: bold;
    }
  }
}
