<div class="inventory">
  <div class="inventory__money">
    <div>
      <p>ММ</p>
      <p-inputNumber inputId="integeronly" maxlength="4" size="1" class="pl-2" [(ngModel)]="copperCoins" (onInput)="saveData('copperCoins', copperCoins)"/>
    </div>
    <div>
      <p>СМ</p>
      <p-inputNumber inputId="integeronly" maxlength="4" size="1" class="pl-2" [(ngModel)]="silverCoins" (onInput)="saveData('silverCoins', silverCoins)"/>
    </div>
    <div>
      <p>ЭМ</p>
      <p-inputNumber inputId="integeronly" maxlength="4" size="1" class="pl-2" [(ngModel)]="electrumCoins" (onInput)="saveData('electrumCoins', electrumCoins)"/>
    </div>
    <div>
      <p>ЗМ</p>
      <p-inputNumber inputId="integeronly" maxlength="4" size="1" class="pl-2" [(ngModel)]="goldenCoins" (onInput)="saveData('goldenCoins', goldenCoins)"/>
    </div>
    <div>
      <p>ПМ</p>
      <p-inputNumber inputId="integeronly" maxlength="4" size="1" class="pl-2" [(ngModel)]="platinumCoins" (onInput)="saveData('platinumCoins', platinumCoins); "/>
    </div>
  </div>
  <div class="inventory__items">
    <textarea rows="13" pInputTextarea [(ngModel)]="otherItems" (change)="saveData('otherItems', otherItems)"></textarea>
    <p>Снаряжение</p>
  </div>
</div>
