<ng-container *transloco="let t">
  <div class="inventory">
    <div class="inventory__money">
      <div>
        <p>{{t('copperCoins')}}</p>
        <p-inputNumber
          inputId="integeronly"
          maxlength="4"
          size="1"
          class="pl-2"
          [(ngModel)]="inventoryData.copperCoins"
          (ngModelChange)="saveData('copperCoins', $event)"
        />
      </div>
      <div>
        <p>{{t('silverCoins')}}</p>
        <p-inputNumber
          inputId="integeronly"
          maxlength="4"
          size="1"
          class="pl-2"
          [(ngModel)]="inventoryData.silverCoins"
          (ngModelChange)="saveData('silverCoins', $event)"
        />
      </div>
      <div>
        <p>{{t('eridiumCoins')}}</p>
        <p-inputNumber
          inputId="integeronly"
          maxlength="4"
          size="1"
          class="pl-2"
          [(ngModel)]="inventoryData.electrumCoins"
          (ngModelChange)="saveData('electrumCoins', $event)"
        />
      </div>
      <div>
        <p>{{t('goldenCoins')}}</p>
        <p-inputNumber
          inputId="integeronly"
          maxlength="4"
          size="1"
          class="pl-2"
          [(ngModel)]="inventoryData.goldenCoins"
          (ngModelChange)="saveData('goldenCoins', $event)"
        />
      </div>
      <div>
        <p>{{t('platinumCoins')}}</p>
        <p-inputNumber
          inputId="integeronly"
          maxlength="4"
          size="1"
          class="pl-2"
          [(ngModel)]="inventoryData.platinumCoins"
          (ngModelChange)="saveData('platinumCoins', $event)"
        />
      </div>
    </div>
    <div class="inventory__items">
      <textarea
        rows="13"
        pInputTextarea
        [(ngModel)]="inventoryData.otherItems"
        (ngModelChange)="saveData('otherItems', $event)"
      ></textarea>
      <p>{{t('items')}}</p>
    </div>
  </div>
</ng-container>
