<ng-container *transloco="let t">
  <div [formGroup]="attacksSpellsForm">
    <div class="attacks-spells">
      <div class="attacks-spells__attacks grid">
        <p class="col-5">{{ t("weaponName") }}</p>
        <p class="col-2">{{ t("weaponBonus") }}</p>
        <p class="col-5">{{ t("weaponDmg") }}</p>
      </div>
      <div class="attacks-spells__attacks grid">
        <input
          type="text"
          class="col-5"
          pInputText
          formControlName="firstWeaponName"
        />
        <input
          type="text"
          class="col-2 text-center"
          pInputText
          formControlName="firstWeaponBonus"
        />
        <input
          type="text"
          class="col-5"
          pInputText
          formControlName="firstWeaponDamage"
        />
      </div>
      <div class="attacks-spells__attacks grid">
        <input
          type="text"
          class="col-5"
          pInputText
          formControlName="secondWeaponName"
        />
        <input
          type="text"
          class="col-2 text-center"
          pInputText
          formControlName="secondWeaponBonus"
        />
        <input
          type="text"
          class="col-5"
          pInputText
          formControlName="secondWeaponDamage"
        />
      </div>
      <div class="attacks-spells__attacks grid">
        <input
          type="text"
          class="col-5"
          pInputText
          formControlName="thirdWeaponName"
        />
        <input
          type="text"
          class="col-2 text-center"
          pInputText
          formControlName="thirdWeaponBonus"
        />
        <input
          type="text"
          class="col-5"
          pInputText
          formControlName="thirdWeapondamage"
        />
      </div>
      <textarea
        rows="12"
        pInputTextarea
        formControlName="otherWeaponSpells"
      ></textarea>
      <p class="attacks-spells__undertext">{{ t("attacksSpells") }}</p>
    </div>
  </div>
</ng-container>
