<ng-container *transloco="let t">
  <div [formGroup]="statsForm">
    <div class="stats grid">
      <div class="stats__general general-stats">
        <div class="general-stats__wrapper grid justify-content-center">
          <p class="col-12">{{ t("strength") }}</p>
          <input
            type="number"
            class="col-9 text-center"
            pInputText
            [min]="0"
            [max]="20"
            formControlName="strength"
          />
          <input
            type="text"
            class="col-6"
            pInputText
            [maxLength]="2"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="strengthBonus"
            [readOnly]="true"
          />
        </div>
        <div class="general-stats__wrapper grid justify-content-center">
          <p class="col-12">{{ t("dextrity") }}</p>
          <input
            type="number"
            class="col-9 text-center"
            pInputText
            [min]="0"
            [max]="20"
            formControlName="dexterity"
          />
          <input
            type="text"
            class="col-6"
            pInputText
            [maxLength]="2"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="dexterityBonus"
            [readOnly]="true"
          />
        </div>
        <div class="general-stats__wrapper grid justify-content-center">
          <p class="col-12">{{ t("constitution") }}</p>
          <input
            type="number"
            class="col-9 text-center"
            pInputText
            [min]="0"
            [max]="20"
            formControlName="constitution"
          />
          <input
            type="text"
            class="col-6"
            pInputText
            [maxLength]="2"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="constitutionBonus"
            [readOnly]="true"
          />
        </div>
        <div class="general-stats__wrapper grid justify-content-center">
          <p class="col-12">{{ t("intellegence") }}</p>
          <input
            type="number"
            class="col-9 text-center"
            pInputText
            [min]="0"
            [max]="20"
            formControlName="intelligence"
          />
          <input
            type="text"
            class="col-6"
            pInputText
            [maxLength]="2"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="intelligenceBonus"
            [readOnly]="true"
          />
        </div>
        <div class="general-stats__wrapper grid justify-content-center">
          <p class="col-12">{{ t("wisdom") }}</p>
          <input
            type="number"
            class="col-9 text-center"
            pInputText
            [min]="0"
            [max]="20"
            formControlName="wisdom"
          />
          <input
            type="text"
            class="col-6"
            pInputText
            [maxLength]="2"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="wisdomBonus"
            [readOnly]="true"
          />
        </div>
        <div class="general-stats__wrapper grid justify-content-center">
          <p class="col-12">{{ t("charisma") }}</p>
          <input
            type="number"
            class="col-9 text-center"
            pInputText
            [min]="0"
            [max]="20"
            formControlName="charisma"
          />
          <input
            type="text"
            class="col-6"
            pInputText
            [maxLength]="2"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="charismaBonus"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="stats__substats substats">
        <div class="substats__single-stat-wrapper grid">
          <input
            type="text"
            class="col-3 col-offset-1"
            pInputText
            formControlName="inspiration"
          />
          <p class="col-8">{{ t("inspiration") }}</p>
        </div>
        <div class="substats__single-stat-wrapper grid">
          <input
            type="text"
            class="col-3 col-offset-1"
            pInputText
            formControlName="profienceBonus"
          />
          <p class="col-8">{{ t("proficiency") }}</p>
        </div>
        <div class="substats__challenges-skills challenges-skills">
          <div class="challenges-skills__stat-wrapper stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="strengthChalChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="strengthChalVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">{{ t("strength") }}</p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="dexterityChalChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="dexterityChalVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">{{ t("dextrity") }}</p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="constitutionChalChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="constitutionChalVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">{{ t("constitution") }}</p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="intelligenceChalChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="intelligenceChalVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">{{ t("intellegence") }}</p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="wisdomChalChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="wisdomChalVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">{{ t("wisdom") }}</p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="charismaChalChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="charismaChalVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">{{ t("charisma") }}</p>
          </div>

          <p class="challenges-skills__group-name">{{ t("challenges") }}</p>

          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="acrobaticsChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="acrobaticsVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("acrobatics") }}{{ t("dex") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="athleticsChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="athleticsVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("athletics") }}{{ t("str") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="perceptionChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="perceptionVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("perception") }}{{ t("wis") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="survivalChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="survivalVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("survival") }}{{ t("wis") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="handlingChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="handlingVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("handling") }}{{ t("wis") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="intimidationChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="intimidationVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("intimidation") }}{{ t("cha") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="perfomanceChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="perfomanceVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("perfomance") }}{{ t("cha") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="historyChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="historyVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("history") }}{{ t("int") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="sleightOfHandChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="sleightOfHandVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("sleightOfHand") }}{{ t("dex") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="arcanaChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="arcanaVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("arcana") }}{{ t("int") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="medicineChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="medicineVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("medicine") }}{{ t("wis") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="deceptionChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="deceptionVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("deception") }}{{ t("cha") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="natureChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="natureVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("nature") }}{{ t("int") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="insightChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="insightVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("insight") }}{{ t("wis") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="investigationChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="investigationVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("investigation") }}{{ t("int") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="religionChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="religionVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("religion") }}{{ t("int") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="stealthChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="stealthVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("stealth") }}{{ t("dex") }}
            </p>
          </div>
          <div class="challenges-skills__stat-wrapper">
            <p-checkbox
              class="col-offset-1"
              [binary]="true"
              formControlName="persuasionChb"
            />
            <input
              type="text"
              class="col-2"
              pInputText
              formControlName="persuasionVal"
              [max]="20"
              [min]="0"
              maxlength="2"
            />
            <p class="challenges-skills__stat-name">
              {{ t("persuasion") }}{{ t("cha") }}
            </p>
          </div>
          <p class="challenges-skills__group-name">{{ t("skills") }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
