<ng-container *transloco="let t">
  <div [formGroup]="combatParametersForm">
    <div class="combat-parameters">
      <div class="combat-parameters__three-big-params">
        <input type="number" pInputText formControlName="armorClass" />
        <p>{{ t("armorClass") }}</p>
      </div>
      <div class="combat-parameters__three-big-params">
        <input type="number" pInputText formControlName="initiative" />
        <p>{{ t("initiative") }}</p>
      </div>
      <div class="combat-parameters__three-big-params">
        <input type="number" pInputText formControlName="speed" />
        <p>{{ t("speed") }}</p>
      </div>
      <div class="combat-parameters__health-points">
        <div class="combat-parameters__health-points-max">
          <p>{{ t("maxHP") }}</p>
          <input type="number" pInputText formControlName="maxHP" />
        </div>
        <textarea
          rows="3"
          pInputTextarea
          formControlName="currentHP"
        ></textarea>
        <p>{{ t("currentHP") }}</p>
      </div>
      <div class="combat-parameters__health-points">
        <textarea
          rows="3"
          pInputTextarea
          formControlName="temporaryHP"
        ></textarea>
        <p>{{ t("temporaryHP") }}</p>
      </div>
      <div
        class="combat-parameters__dices-challenges-group dices-challenges-group"
      >
        <div class="dices-challenges-group__dices dices grid">
          <p class="col-5">{{ t("totalHD") }}</p>
          <input
            type="text"
            class="dices__dice-text col-5"
            pInputText
            formControlName="totalHD"
          />
          <input
            type="text"
            class="dices__dice-text col-10"
            pInputText
            formControlName="diceName"
          />
          <p>{{ t("hitDice") }}</p>
        </div>
        <div class="dices-challenges-group__challenges challenges">
          <div class="challenges__inputgroup">
            <p>{{ t("success") }}</p>
            <p-checkbox [binary]="true" formControlName="successFirst" />
            <p-checkbox [binary]="true" formControlName="successSecond" />
            <p-checkbox [binary]="true" formControlName="successThird" />
          </div>
          <div class="challenges__inputgroup">
            <p>{{ t("failures") }}</p>
            <p-checkbox [binary]="true" formControlName="failureFirst" />
            <p-checkbox [binary]="true" formControlName="failureSecond" />
            <p-checkbox [binary]="true" formControlName="failureThird" />
          </div>
          <p>{{ t("challengesDeath") }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
