<div class="header grid">
  <div class="character-name lg:col-3 md:col-4 sm:col-12">
    <input type="text" class="character-name__value"pInputText value="Киишу"/>
    <p>Имя персонажа</p>
  </div>
  <div class="lg:col-9 md:col-8 sm:col-12">
    <div class="grid">
      <div class="lg:col-4 sm:col-6">
        <!-- <img src="./images/bunny.png" alt="bunny" width="100px" height="100px"> -->
        <input type="text" pInputText value="Плут - 1 ур"/>
        <p>Класс и уровень</p>
      </div>
      <div class="lg:col-4 sm:col-6">
        <input type="text" pInputText value="Преступник"/>
        <p>Происхождение</p>
      </div>
      <div class="lg:col-4 sm:col-6">
        <input type="text" pInputText value="Константин"/>
        <p>Имя игрока</p>
      </div>
      <div class="lg:col-4 sm:col-6">
        <input type="text" pInputText value="Зайцегон"/>
        <p>Раса</p>
      </div>
      <div class="lg:col-4 sm:col-6">
        <input type="text" pInputText value="C/N"/>
        <p>Мировоззрение</p>
      </div>
      <div class="lg:col-4 sm:col-6">
        <input type="text" pInputText value="0"/>
        <p>Опыт персонажа</p>
      </div>
    </div>
  </div>
</div>
