.combat-parameters {
  background-color: lightgray;
  border-radius: 5px;
  width: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__three-big-params {
    width: 33%;
    flex-basis: 33%;
    justify-content: center;
    text-align: center;
    & input{
      width: 90px;
    }
  }

  &__health-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__health-points p {
    margin-top: 3px;
  }

  &__health-points p:first-child {
    margin-right: 4px;
  }

  &__health-points-max{
    display: flex;
    align-items: baseline;
    & input{
      width: 100px;
    }
  }
  &__dices-challenges-group {
    display: flex;
    width: 100%;
    flex-basis: 100%;
  }
}

.dices-challenges-group {
  &__dices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    flex-basis: 50%;
    & p:first-child {
      margin-right: 3px;
    }
  }

  &__challenges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    flex-basis: 50%;
  }
}

.dices {
  text-align: center;
  align-items: center;
  & p{
    margin: 5px;
  }
  &__dice-text {
    font-size: 1.5em;
    margin: 3px;
  }

  & p:last-child {
    margin-top: 3px;
  }
}

.challenges {
  text-align: center;
  &__inputgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    flex-basis: 100%;
    align-items: center;
  }
}
