<div class="combat-parameters">
  <div class="combat-parameters__three-big-params">
    <input type="number" pInputText value="18">
    <p>Класс брони</p>
  </div>
  <div class="combat-parameters__three-big-params">
    <input type="number" pInputText value="5">
    <p>Инициатива</p>
  </div>
  <div class="combat-parameters__three-big-params">
    <input type="number" pInputText value="30">
    <p>Скорость</p>
  </div>
  <div class="combat-parameters__health-points">
    <div class="combat-parameters__health-points-max">
      <p>Максимум ПЗ</p>
      <input type="number" pInputText value="80">
    </div>
    <textarea
    rows="3"
    pInputTextarea
    ></textarea>
    <p>Текущие пункты здоровья</p>
  </div>
  <div class="combat-parameters__health-points">
    <textarea
    rows="3"
    pInputTextarea
    ></textarea>
    <p>Временные пункты здоровья</p>
  </div>
  <div class="combat-parameters__dices-challenges-group dices-challenges-group">
    <div class="dices-challenges-group__dices dices grid">
      <p class="col-5">Всего</p>
      <input type="text" class="dices__dice-text col-5" pInputText value="12" >
      <input type="text" class="dices__dice-text col-10" pInputText value="d8" >
      <p>Кости здоровья</p>
    </div>
    <div class="dices-challenges-group__challenges challenges">
      <div class="challenges__inputgroup">
        <p>Успехи</p>
        <p-checkbox [binary]="true"/>
        <p-checkbox [binary]="true"/>
        <p-checkbox [binary]="true"/>
      </div>
      <div class="challenges__inputgroup">
        <p>Провалы</p>
        <p-checkbox [binary]="true"/>
        <p-checkbox [binary]="true"/>
        <p-checkbox [binary]="true"/>
      </div>
      <p>Испыт. против смерти</p>
    </div>
  </div>
</div>
