<div class="combat-parameters">
  <div class="combat-parameters__three-big-params">
    <p>18</p>
    <p>Класс брони</p>
  </div>
  <div class="combat-parameters__three-big-params">
    <p>5</p>
    <p>Инициатива</p>
  </div>
  <div class="combat-parameters__three-big-params">
    <p>30</p>
    <p>Скорость</p>
  </div>
  <div class="combat-parameters__health-points">
    <p>Максимум ПЗ</p>
    <p>80</p>
    <textarea rows="4" maxlength="200"></textarea>
    <p>Текущие пункты здоровья</p>
  </div>
  <div class="combat-parameters__health-points">
    <textarea rows="4" maxlength="200"></textarea>
    <p>Временные пункты здоровья</p>
  </div>
  <div class="combat-parameters__dices-challenges-group dices-challenges-group">
    <div class="dices-challenges-group__dices dices">
      <p>Всего</p>
      <p>12</p>
      <p class="dices__dice-text">d8</p>
      <p>Кости здоровья</p>
    </div>
    <div class="dices-challenges-group__challenges challenges">
      <div class="challenges__inputgroup">
        <p>Успехи</p>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
      </div>
      <div class="challenges__inputgroup">
        <p>Провалы</p>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
      </div>
      <p>Испыт. против смерти</p>
    </div>
  </div>
</div>
