<ng-container *transloco="let t">
  <div [formGroup]="inventoryForm">
    <div class="inventory">
      <div class="inventory__money">
        <div>
          <p>{{ t("copperCoins") }}</p>
          <p-inputNumber
            inputId="integeronly"
            maxlength="4"
            size="1"
            class="pl-2"
            formControlName="copperCoins"
          />
        </div>
        <div>
          <p>{{ t("silverCoins") }}</p>
          <p-inputNumber
            inputId="integeronly"
            maxlength="4"
            size="1"
            class="pl-2"
            formControlName="silverCoins"
          />
        </div>
        <div>
          <p>{{ t("eridiumCoins") }}</p>
          <p-inputNumber
            inputId="integeronly"
            maxlength="4"
            size="1"
            class="pl-2"
            formControlName="electrumCoins"
          />
        </div>
        <div>
          <p>{{ t("goldenCoins") }}</p>
          <p-inputNumber
            inputId="integeronly"
            maxlength="4"
            size="1"
            class="pl-2"
            formControlName="goldenCoins"
          />
        </div>
        <div>
          <p>{{ t("platinumCoins") }}</p>
          <p-inputNumber
            inputId="integeronly"
            maxlength="4"
            size="1"
            class="pl-2"
            formControlName="platinumCoins"
          />
        </div>
      </div>
      <div class="inventory__items">
        <textarea
          rows="13"
          pInputTextarea
          formControlName="otherItems"
        ></textarea>
        <p>{{ t("items") }}</p>
      </div>
    </div>
  </div>
</ng-container>
