html {
  font-size: 12 px;
  transform: none;
}
textarea {
  resize: none;
  width: 100%;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.general-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 660px;

  &__item {
    width: 220px;
    height: 100px;
    flex-basis: 220px;
  }
}

.main-table {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__combat-parameters {
    width: 330px;
    flex-basis: 330px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__character-description {
    width: 330px;
    flex-basis: 330px;
    text-align: center;
  }

  &__character-description p {
    margin-top: 3px;
  }

  &__attacks-spells {
    width: 330px;
    flex-basis: 330px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & p:last-child {
      margin-top: 3px;
    }
  }

  &__features-traits {
    width: 330px;
    flex-basis: 330px;
    text-align: center;
  }

  &__features-traits p {
    margin-top: 3px;
  }

  &__inventory {
    width: 330px;
    flex-basis: 330px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__abilities-languages {
    width: 330px;
    flex-basis: 330px;
    text-align: center;
    & p {
      margin-top: 3px;
    }
  }
}
.stats {
  width: 330px;
  flex-basis: 330px;
  display: flex;
  justify-content: space-between;
}
.general-stats {
  display: flex;
  flex-direction: column;
  flex-basis: 80px;
  width: 80px;

  &__wrapper {
    text-align: center;
  }

  &__stat-value {
    font-size: 2em;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.substats {
  display: flex;
  flex-direction: column;
  width: 250px;
  flex-basis: 250px;

  &__single-stat-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & p:first-child{
      font-size: 1.5em;
    }
  }

  &__challenges-skills{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
  }
}

.challenges-skills {
  & input{
    flex-basis: 15px;
    margin-right: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__stat-value{
    flex-basis: 20px;
  width: 20px;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  }

  &__stat-name{
    flex-basis: 180px;
    width: 180px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__group-name{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 250px;
    text-align: center;
  }
}

.combat-parameters {
  &__three-big-params {
    width: 110px;
    flex-basis: 110px;
    justify-content: center;
    text-align: center;
  }

  &__health-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__health-points p {
    margin-top: 3px;
  }

  &__health-points p:first-child {
    margin-right: 4px;
  }

  &__dices-challenges-group {
    display: flex;
    width: 330px;
    flex-basis: 330px;
  }
}

.dices-challenges-group {
  &__dices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    flex-basis: 50%;
    & p:first-child{
      margin-right: 3px;
    }
  }

  &__challenges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    flex-basis: 50%;
  }
}

.dices {
  &__dice-text {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 3px;
  }

  & p:last-child {
    margin-top: 3px;
  }
}

.challenges {
  &__inputgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 30px;
    flex-basis: 100%;
    align-items: center;
  }

  & input {
    margin: 3px;
  }
}

.attacks-spells {
  &__weapons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__weapons-name {
    width: 35%;
    flex-basis: 35%;
  }

  &__weapons-bonus {
    width: 15%;
    flex-basis: 15%;
  }

  &__weapons-attack {
    width: 35%;
    flex-basis: 35%;
  }
}

.inventory {
  & textarea {
    width: 85%;
  }

  & p {
    margin-top: 3px;
  }

  &__money {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    & div {
      display: flex;
      align-items: center;
    }

    & p:first-child {
      font-size: 10px;
      margin-right: 3px;
    }
  }
}
