<app-header></app-header>

<div class="main-table">
  <div class="main-table__stats stats">
    <div class="stats__general general-stats">
      <div class="general-stats__wrapper">
        <p>Сила</p>
        <p class="general-stats__stat-value">15</p>
        <p>+2</p>
      </div>
      <div class="general-stats__wrapper">
        <p>Сила</p>
        <p class="general-stats__stat-value">15</p>
        <p>+2</p>
      </div>
      <div class="general-stats__wrapper">
        <p>Сила</p>
        <p class="general-stats__stat-value">15</p>
        <p>+2</p>
      </div>
      <div class="general-stats__wrapper">
        <p>Сила</p>
        <p class="general-stats__stat-value">15</p>
        <p>+2</p>
      </div>
      <div class="general-stats__wrapper">
        <p>Сила</p>
        <p class="general-stats__stat-value">15</p>
        <p>+2</p>
      </div>
      <div class="general-stats__wrapper">
        <p>Сила</p>
        <p class="general-stats__stat-value">15</p>
        <p>+2</p>
      </div>
    </div>
    <div class="stats__substats substats">
      <div class="substats__single-stat-wrapper">
        <p>7</p>
        <p>Вдохновение</p>
      </div>
      <div class="substats__single-stat-wrapper">
        <p>+4</p>
        <p>Бонус умения</p>
      </div>
      <div class="substats__challenges-skills challenges-skills">
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Сила</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Ловкость</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Выносливость</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Интелект</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Мудрость</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Харизма</p>
        <p class="challenges-skills__group-name">Испытания</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Акробатика (лвк)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Атлетика (сил)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Внимание (мдр)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Выживание (мдр)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Дрессировка (мдр)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Запугивание (хар)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Исполнение (хар)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">История (инт)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Ловкость рук (лвк)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Магия (инт)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Медицина (мдр)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Обман (хар)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Природа (инт)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Проницательность (мдр)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Расследование (инт)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Религия (инт)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Скрытность (лвк)</p>
        <input type="checkbox" />
        <p class="challenges-skills__stat-value">10</p>
        <p class="challenges-skills__stat-name">Убеждение (хар)</p>
        <p class="challenges-skills__group-name">Навыки</p>
      </div>
    </div>
  </div>
  <div class="main-table__combat-parameters cmobat-parameters">
    <div class="combat-parameters__three-big-params">
      <p>18</p>
      <p>Класс брони</p>
    </div>
    <div class="combat-parameters__three-big-params">
      <p>5</p>
      <p>Инициатива</p>
    </div>
    <div class="combat-parameters__three-big-params">
      <p>30</p>
      <p>Скорость</p>
    </div>
    <div class="combat-parameters__health-points">
      <p>Максимум ПЗ</p>
      <p>80</p>
      <textarea rows="4" maxlength="200"></textarea>
      <p>Текущие пункты здоровья</p>
    </div>
    <div class="combat-parameters__health-points">
      <textarea rows="4" maxlength="200"></textarea>
      <p>Временные пункты здоровья</p>
    </div>
    <div
      class="combat-parameters__dices-challenges-group dices-challenges-group"
    >
      <div class="dices-challenges-group__dices dices">
        <p>Всего</p>
        <p>12</p>
        <p class="dices__dice-text">d8</p>
        <p>Кости здоровья</p>
      </div>
      <div class="dices-challenges-group__challenges challenges">
        <div class="challenges__inputgroup">
          <p>Успехи</p>
          <input type="checkbox" />
          <input type="checkbox" />
          <input type="checkbox" />
        </div>
        <div class="challenges__inputgroup">
          <p>Провалы</p>
          <input type="checkbox" />
          <input type="checkbox" />
          <input type="checkbox" />
        </div>
        <p>Испыт. против смерти</p>
      </div>
    </div>
  </div>
  <div class="main-table__description-and-attacks-wrapper">
    <div class="main-table__character-description">
      <textarea rows="4" maxlength="150"></textarea>
      <p>Свойства личности</p>
      <textarea rows="3" maxlength="150"></textarea>
      <p>Идеалы</p>
      <textarea rows="3" maxlength="150"></textarea>
      <p>Узы</p>
      <textarea rows="3" maxlength="150"></textarea>
      <p>Изъяны</p>
    </div>
    <div class="main-table__attacks-spells attacks-spells">
      <div class="attacks-spells__weapons">
        <p class="attacks-spells__weapons-name">Название</p>
        <p class="attacks-spells__weapons-bonus">Бонус атаки</p>
        <p class="attacks-spells__weapons-attack">урон и тип</p>
        <p class="attacks-spells__weapons-name">Тяж. арб.</p>
        <p class="attacks-spells__weapons-bonus">+9</p>
        <p class="attacks-spells__weapons-attack">1d10+5</p>
        <p class="attacks-spells__weapons-name">Кинжал</p>
        <p class="attacks-spells__weapons-bonus">+9</p>
        <p class="attacks-spells__weapons-attack">1d4+5</p>
        <p class="attacks-spells__weapons-name">Лук +2</p>
        <p class="attacks-spells__weapons-bonus">+11</p>
        <p class="attacks-spells__weapons-attack">1d6+7</p>
      </div>
      <textarea rows="15" maxlength="750"></textarea>
      <p>Атаки и заклинания</p>
    </div>
  </div>
  <div class="main-table__abilities-languages">
    <textarea rows="12" maxlength="600"></textarea>
    <p>Прочие умения и языки</p>
  </div>
  <div class="main-table__inventory inventory">
    <div class="inventory__money">
      <div>
        <p>ММ</p>
        <p>0</p>
      </div>
      <div>
        <p>СМ</p>
        <p>4</p>
      </div>
      <div>
        <p>ЭМ</p>
        <p>0</p>
      </div>
      <div>
        <p>ЗМ</p>
        <p>830</p>
      </div>
      <div>
        <p>ПМ</p>
        <p>0</p>
      </div>
    </div>
    <textarea rows="15" maxlength="750"></textarea>
    <p>Снаряжение</p>
  </div>
  <div class="main-table__features-traits">
    <textarea rows="30" maxlength="1500"></textarea>
    <p>Особенности и свойства</p>
  </div>
</div>
