<ng-container *transloco="let t">
  <div [formGroup]="descriptionForm">
    <div class="character-description">
      <textarea
        rows="4"
        pInputTextarea
        formControlName="personality"
        (ngModelChange)="saveData('personality', $event)"
      ></textarea>
      <p class="character-description__naming">{{ t("personality") }}</p>
      <textarea
        rows="3"
        pInputTextarea
        formControlName="ideals"
        (ngModelChange)="saveData('ideals', $event)"
      ></textarea>
      <p class="character-description__naming">{{ t("ideals") }}</p>
      <textarea
        rows="3"
        pInputTextarea
        formControlName="bonds"
        (ngModelChange)="saveData('bonds', $event)"
      ></textarea>
      <p class="character-description__naming">{{ t("bonds") }}</p>
      <textarea
        rows="3"
        pInputTextarea
        formControlName="flaws"
        (ngModelChange)="saveData('flaws', $event)"
      ></textarea>
      <p class="character-description__naming">{{ t("flaws") }}</p>
    </div>
  </div>
</ng-container>
