<ng-container *transloco="let t">
  <div [formGroup]="descriptionForm">
    <div class="character-description">
      <textarea
        rows="4"
        pInputTextarea
        formControlName="personality"
      ></textarea>
      <p class="character-description__naming">{{ t("personality") }}</p>
      <textarea rows="3" pInputTextarea formControlName="ideals"></textarea>
      <p class="character-description__naming">{{ t("ideals") }}</p>
      <textarea rows="3" pInputTextarea formControlName="bonds"></textarea>
      <p class="character-description__naming">{{ t("bonds") }}</p>
      <textarea rows="3" pInputTextarea formControlName="flaws"></textarea>
      <p class="character-description__naming">{{ t("flaws") }}</p>
    </div>
  </div>
</ng-container>
